<div class="wrapper">
  <h1>Form Add</h1>

  <form action="/form/add" method="POST" enctype="multipart/form-data" class="form-add">
    <label for="name">
      Name
      <input type="text" id="name" name="name" />
    </label>

    <label for="shortName">
      Short Name
      <input type="text" id="shortName" name="shortName" />
    </label>

    <label for="tla">
      Initials
      <input type="text" name="tla" id="tla" />
    </label>

    <label for="country">
      Country
      <input type="text" name="country" id="country" />
    </label>

    <label for="founded">
      Founded Date
      <input type="text" name="founded" id="founded" />
    </label>

    <label for="address">
      Address
      <input type="text" name="address" id="address" />
    </label>

    <label for="venue">
      Stadium Name
      <input type="text" name="venue" id="venue" />
    </label>

    <label for="clubColors">
      Club Colors
      <input type="text" name="clubColors" id="clubColors" />
    </label>

    <label for="website">
      Website
      <input type="text" name="website" id="website" />
    </label>

    <label for="email">
      Email
      <input type="text" name="email" Ed="email" />
    </label>

    <label for="phone">
      Phone
      <input type="text" name="phone" Ed="phone" />
    </label>

    <label for="image">
      Image
      <input type="file" name="image" Ed="image" />
    </label>

    <button class="form-add-btn" type="submit">Add Team</button>
  </form>
</div>