<main>
  <h1>Teams</h1>

  <a href="/form/add">Add Team</a>

  <table class="teams-section">
    <thead>
      <tr>
        <th>Name</th>
        <th>Country</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      {{#each data.teamList}}
        <tr>
          <td>{{this.shortName}}</td>
          <td>{{this.area.name}}</td>
          <td class="{{this.id}}">
            <a href="/view/{{this.id}}">View</a>
          </td>
        </tr>
      {{/each}}
    </tbody>
  </table>

</main>