body {
  background-color: #404042;
  color: whitesmoke;
}

main,
.wrapper {
  min-height: 100vh;
  width: 84%;
  max-width: 1200px;
  margin: auto;
}

.teams-section {
  margin: 0 auto;
}

.team-shield-img {
  width: 50px;
  height: 50px;
}

.form-add {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 1.5rem;
}

label {
  display: block;
}

button {
  display: block;
  margin: 1.5rem 0;
  padding: 4px 10px;
  border: none;
  cursor: pointer;
  border-radius: 0.1rem;
}

a {
  background-color: gainsboro;
  text-decoration: none;
  color: black;
  padding: 2px 6px;
  border-radius: 0.2rem;
}

a:hover,
button:hover {
  background-color: darkgray;
}

input {
  margin-left: 0.2rem;
  outline: none;
  border:none;
  padding: 3px 7px;
}